In [2]:
from io import StringIO # for extract data
import requests # for extract data
from bs4 import BeautifulSoup # for extract data
import pandas as pd #transformation data
import sqlite3 #load
from datetime import datetime
from icecream import ic

In [3]:
# Step 0
def log_progress(massage):
    with open('./code_log.txt', 'a') as f:
        f.write(f'{datetime.now()}: {massage}.\n')

In [4]:
# Step 1
def extract(url,table_att):
    soup = requests.get(url).text
    web = BeautifulSoup(soup,'html.parser')
    table = web.find('span',string=table_att).find_next('table')
    df = pd.read_html(StringIO(str(table)))[0]
    
    log_progress('Data Extracted successfull from the Wikipedia')
    
    return df

In [5]:
#step 2
def transformation(df, csv_path):
    exchange_rate = pd.read_csv(csv_path,index_col = 0).to_dict()['Rate']
    
    df['MC_GBP_Billion'] = round(df['Market cap (US$ billion)'] * exchange_rate['GBP'],2)
    df['MC_EUR_Billion'] = round(df['Market cap (US$ billion)'] * exchange_rate['EUR'],2)
    df['MC_INR_Billion'] = round(df['Market cap (US$ billion)'] * exchange_rate['INR'],2)
    
    print(df['MC_EUR_Billion'][4])
    
    log_progress('Data Treansformation done Now,Step 2 Completed')
    
    return df

In [6]:
#step 3 Load
#CSV
def load_to_csv(df,out_path):
    df.to_csv(out_path)
    
    log_progress('Data Loaded into the CSV File')

In [7]:
#Step 3
#SQLite
def load_to_db(df,sql_conn, tn):
    df.to_sql(tn , sql_conn , if_exist = 'replace', index=False )
    
    log_progress("Data Loaded into the SQLite Database")

In [9]:
if __name__ == '__main__':
    url = 'https://web.archive.org/web/20230908091635/https://en.wikipedia.org/wiki/List_of_largest_banks'
    output_csv_path = './Largest_banks_data.csv'
    database_name = 'Banks.db'
    table_name = 'Largest_banks'
    #
    log_progress('Preliminaries complete. Initiating ETL process')
    
    df=extract(url, 'By market capitalization')
    log_progress('Extraction Completed')
    print(df)
    df = transformation(df, './Input/exchange_rate.csv')
    log_progress('Data Transformed Successfully')
    print(df)
    
    load_to_csv(df, output_csv_path)
    log_progress('DataFrame Has Been Uploaded Into The CSV File On Our Pc')
    with sqlite3.connect(database_name) as conn:
        load_to_db(df, conn, table_name)
    log_progress('DataFrame has been uploaded into the SQLite Database Successfully')

   Rank                                Bank name  Market cap (US$ billion)
0     1                           JPMorgan Chase                    432.92
1     2                          Bank of America                    231.52
2     3  Industrial and Commercial Bank of China                    194.56
3     4               Agricultural Bank of China                    160.68
4     5                                HDFC Bank                    157.91
5     6                              Wells Fargo                    155.87
6     7                        HSBC Holdings PLC                    148.90
7     8                           Morgan Stanley                    140.83
8     9                  China Construction Bank                    139.82
9    10                            Bank of China                    136.81
146.86
   Rank                                Bank name  Market cap (US$ billion)  \
0     1                           JPMorgan Chase                    432.92
1     2                          Bank of America                    231.52
2     3  Industrial and Commercial Bank of China                    194.56
3     4               Agricultural Bank of China                    160.68
4     5                                HDFC Bank                    157.91
5     6                              Wells Fargo                    155.87
6     7                        HSBC Holdings PLC                    148.90
7     8                           Morgan Stanley                    140.83
8     9                  China Construction Bank                    139.82
9    10                            Bank of China                    136.81

   MC_GBP_Billion  MC_EUR_Billion  MC_INR_Billion
0          346.34          402.62        35910.71
1          185.22          215.31        19204.58
2          155.65          180.94        16138.75
3          128.54          149.43        13328.41
4          126.33          146.86        13098.63
5          124.70          144.96        12929.42
6          119.12          138.48        12351.26
7          112.66          130.97        11681.85
8          111.86          130.03        11598.07
9          109.45          127.23        11348.39

TypeError: NDFrame.to_sql() got an unexpected keyword argument 'if_exist'